<template>
  <div>
   <progress-stats hidden></progress-stats>
   <start v-if="state === 'start'" @gameStarted="gameStarted"></start>
   <question v-else-if="state === 'question'" @nextLevel="nextLevel" @gameEnded="gameEnded"></question>
   <stats v-else-if="state === 'stats'" v-bind:errorAnswers=errorAnswers v-bind:correctAnswers=correctAnswers @startNewGame="startNewGame" @continueGame="continueGame"></stats>
   <result v-bind:msg=gameResultMsg @oneMoreLevel="oneMoreLevel" @checkStats="checkStats" v-else></result>
  </div>
</template>

<script>
import Start from '@/components/Start';
import Question from '@/components/Question';
import Result from '@/components/Result';
import ProgressStats from '@/components/ProgressStats';
import Stats from '@/components/Stats';

export default {
  name: 'MainPage',
  data() {
    return {
      state: 'start',
      gameResultMsg: '',
      errorAnswers: 0,
      correctAnswers: 0,
    };
  },
  components: { Start, Question, Result, ProgressStats, Stats },
  methods: {
    gameStarted() {
      this.state = 'question';
    },
    nextLevel() {
      this.correctAnswers++;
      this.gameResultMsg = 'Correct!';
      this.state = 'questionresult';
    },
    gameEnded(msg) {
      this.errorAnswers++;
      this.gameResultMsg = msg;
      this.state = 'questionresult';
    },
    oneMoreLevel() {
      this.state = 'question';
    },
    checkStats() {
      this.state = 'stats';
    },
    startNewGame() {
      this.state = 'start';
      this.gameResultMsg = '';
      this.errorAnswers = 0;
      this.correctAnswers = 0;
    },
    continueGame() {
      this.gameStarted();
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
