<template>
  <div>ProgressStats</div>
</template>

<script>
export default {
  name: 'ProgressStats',
  data() {
    return {
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
