<template>
    <div>
     <div>{{ questionText }}</div>
     <div>
      <button @click="AnswerButtonClick(answer)" class="button" v-for="answer in answers">{{ answer }}</button>
     </div>
    </div>
</template>

<script>
export default {
  name: 'Question',
  data() {
    return {
      x: mtRandom(10, 400),
      y: mtRandom(10, 400),
    };
  },
  methods: {
    AnswerButtonClick(answer) {
      if (answer === this.goodAnswer) {
        this.$emit('nextLevel');
      } else {
        this.$emit('gameEnded', 'Your game is over!');
      }
    },
  },
  computed: {
    questionText() {
      return this.x + '+' + this.y + '= ?' ;
    },
    goodAnswer() {
      return this.x + this.y;
    },
    answers() {
      var res = [this.goodAnswer];

      while (res.length < 4) {
        var num = mtRandom(this.goodAnswer - 20, this.goodAnswer + 20);

        if(res.indexOf(num) === -1) {
          res.push(num);
        }
      }

      return res.sort(function() {
        return Math.random() > 0.5;
      });
    },
  },
};

function mtRandom(min, max) {
  let diff = max - min;
  return Math.floor(Math.random() * (diff + 1 )) + min;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
