<template>
  <div>
   <div>Round result is: {{message}}</div>
    <button style="background: red; color: white;" @click="checkStatsButtonClick">Show my stats</button>
    <button style="background: green; color: white;" @click="OneMoreButtonClick">One more round</button>
  </div>
</template>

<script>
export default {
  props: ['msg'],
  name: 'Result',
  data() {
    return {
      message: this.msg,
    };
  },
  methods: {
    OneMoreButtonClick() {
      this.$emit('oneMoreLevel');
    },
    checkStatsButtonClick(){
      this.$emit('checkStats');
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
