<template>
  <div>
    <div>Hi, let's start?</div>
    <button @click="buttonClick()">Ok, go!</button>
  </div>
</template>

<script>
export default {
  name: 'Start',
  data() {
    return {
    };
  },
  methods: {
    buttonClick() {
      this.$emit('gameStarted');
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
