<template>
  <div>
    <div style="margin-bottom: 10px;">That's your stats:</div>
    <div>Correct answers: {{correctAnswers}}</div>
    <div>Errors: {{errorAnswers}}</div>
    <button style="background: red; color: white;" @click="StartNewGame">Start new game</button>
    <button @click="ContinueGame">Continue this game</button>
  </div>
</template>

<script>
export default {
  props: ['errorAnswers','correctAnswers'],
  name: 'Stats',
  data() {
    return {
    };
  },
  methods: {
    StartNewGame() {
      this.$emit('startNewGame');
    },
    ContinueGame() {
      this.$emit('continueGame');
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
